<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sprawni w pracy 2.0</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"/>

    <!--App Styles-->
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/home.css"/>
    <link rel="stylesheet" href="styles/search.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script src="../ctrls/voicenav.js"></script>


    <script type="text/javascript" th:src="@{/app.js}"></script>
    <script type="text/javascript" th:src="@{/ctrls/home.js}"></script>
    <script type="text/javascript" th:src="@{/ctrls/firstFilter.js}"></script>
    <script type="text/javascript" th:src="@{/ctrls/search.js}"></script>

</head>
<body data-ng-app="code4life" style="height: 100%">


        <div layout="row" data-layout-align="center center" class="nav" data-flex="100" >

            <div data-flex="33">
                <img class="logo" th:src="@{/img/sprawniwpracypllogo.png}"/>
            </div>
            <div data-flex="33">

            </div>
            <div data-flex="33" layout="row">
                <script>
                    if(annyang) {
                        document.write('<img width="40" height="40" src="../img/nosound.png" id="micbutt" onClick="startVoiceInterface();" />');
                    }
                </script>

                <md-button  class="md-raised " onClick="alert('BUTTON!');">Button</md-button>
                <md-button  class="md-raised" onClick="alert('KONTO!');">Załóż konto</md-button>
            </div>
        </div>
        <div ng-view="" class="content">

        </div>

</body>
</html>