.jobsearch {
    background-image: url("../img/szukampracy.png");
    background-size: cover;
    margin: 0 auto;
    height: 44vw;
    background-repeat: no-repeat;
}

.divjob {
    background-image: url("../img/zlecamprace.png");
    background-size: cover;
    margin: 0 auto;
    height: 44vw;
    background-repeat: no-repeat;
}

a {
    height: inherit;
    display: block;
    padding: 10px;
    margin-bottom: 1px;
    font-size: 300%;
    color: #ffffff;
    text-align: center;
    padding-top: 40%;
    text-decoration: none;
}

a:hover {
    background-color: rgba(255, 255, 255, .30);
    font-size: 350%;
}